<div class="top-header">
    <div class="wrap">
        <div class="top-header-left">
            <ul>
                <!---cart-tonggle-script---->
                <script type="text/javascript">
                    $(function(){
                        var $cart = $('#cart');
                            $('#clickme').click(function(e) {
                                e.stopPropagation();
                            if ($cart.is(":hidden")) {
                                $cart.slideDown("slow");
                            } else {
                                $cart.slideUp("slow");
                            }
                        });
                        $(document.body).click(function () {
                            if ($cart.not(":hidden")) {
                                $cart.slideUp("slow");
                            } 
                        });
                        });
                </script>
                <li>
                    <a href="#"><span><img src="images/flags/{{locate}}.png" /></span></a>
                </li>
            </ul>
        </div>
        <div class="top-header-right">
            <ul>
                <li><a href="/login">{{language.login}}</a><span> </span></li>
                <li><a href="/join">{{language.join}}</a></li>
            </ul>
        </div>
        <div class="clear"> </div>
    </div>
</div>