<div class="bottom-grids">
    <div class="bottom-top-grids">
        <div class="wrap">
            <div class="bottom-top-grid">
                <h4>{{language.gethelp}}</h4>
                <ul>
                    <li><a href="contact.html">{{language.contactus}}</a></li>
                    <li><a href="#">{{language.shopping}}</a></li>
                </ul>
            </div>
            <div class="bottom-top-grid">
                <h4>{{language.orders}}</h4>
                <ul>
                    <li><a href="#">{{language.paymentoption}}</a></li>
                    <li><a href="#">{{language.shippingandelivery}}</a></li>
                    <li><a href="#">{{language.returns}}</a></li>
                </ul>
            </div>
            <div class="bottom-top-grid last-bottom-top-grid">
                <h4>{{language.register}}</h4>
                <p>{{language.registerdescription}}</p>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
</div>