<div class="footer">
    <div class="wrap">
        <div class="footer-left">
            <ul>
                <li><a href="#">{{language.termsofuse}}</a> <span> </span></li>
                <li><a href="#">Nike Inc.</a> <span> </span></li>
                <li><a href="#">{{language.privacycookiepolicy}}</a> <span> </span></li>
                <li><a href="#">{{language.cookiesettings}}</a></li>
                <div class="clear"> </div>
            </ul>
        </div>
        <div class="footer-right">
            <p>{{language.developedby}} <a href="http://w3layouts.com/">NOSSAPPS</a></p>
            <script type="text/javascript">
                $(document).ready(function() {
                    /*
                    var defaults = {
                        containerID: 'toTop', // fading element id
                        containerHoverID: 'toTopHover', // fading element hover id
                        scrollSpeed: 1200,
                        easingType: 'linear' 
                    };
                    */
                    
                    $().UItoTop({ easingType: 'easeOutQuart' });
                    
                });
            </script>
        <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
        </div>
        <div class="clear"> </div>
    </div>
</div>