<div class="img-slider">
    <div class="wrap">
        <ul id="jquery-demo">
            {{#each slideProducts}}
                <li>
                    <a href="#slide1">
                        <img src="{{images.0.path}}" alt="" />
                    </a>
                    <div class="slider-detils">
                        <h3>{{general.metaTagTitle}}</h3>
                        <span>{{general.metaTagDescription}}</span>
                        <span>{{general.metaTagKeywords}}</span>
                        <a class="slide-btn" href="details.html">{{@root.language.shopnow}}</a>
                    </div>
                </li>        
            {{/each}}
        </ul>
    </div>
</div>