<div class="header-bottom">
    <div class="wrap">
    <!-- start header menu -->
        <ul class="megamenu skyblue">
            <li><a class="color6" href="/products">{{language.products}}</a></li>
        </ul>
    </div>
</div>