<div class="content">
    <div class="wrap">
        <div class="content-left">
                <div class="content-left-top-grid">
                    <div class="content-left-price-selection">
                        <h4>{{language.selectprice}}</h4>
                        <div class="price-selection-tree">
                            <span class="col_checkbox">
                                <input id="10" class="css-checkbox10" type="checkbox">
                                <label class="normal"><i for="10" name="demo_lbl_10"  class="css-label10"> </i> 400</label>
                            </span>
                            <span class="col_checkbox">
                                <input id="11" class="css-checkbox11" type="checkbox">
                                <label class="active1"><i for="11" name="demo_lbl_11"  class="css-label11"> </i>350</label>
                            </span>
                            <span class="col_checkbox">
                                <input id="12" class="css-checkbox12" type="checkbox">
                                <label class="normal"><i for="12" name="demo_lbl_12"  class="css-label12"> </i> 300</label>
                            </span>
                            <span class="col_checkbox">
                                <input id="13" class="css-checkbox13" type="checkbox">
                                <label class="normal"><i for="13" name="demo_lbl_13"  class="css-label13"> </i>250</label>
                            </span>
                            <span class="col_checkbox">
                                <input id="14" class="css-checkbox14" type="checkbox">
                                <label class="normal"><i for="14" name="demo_lbl_14"  class="css-label14"> </i> 200</label>
                            </span>
                            <span class="col_checkbox">
                                <input id="15" class="css-checkbox15" type="checkbox">
                                <label class="normal"><i for="15" name="demo_lbl_15"  class="css-label15"> </i>150</label>
                            </span>
                        </div>
                        
                </div>
                </div>
                <div class="content-left-bottom-grid">
                    <h4>Boys Football:</h4>
                    <div class="content-left-bottom-grids">
                        <div class="content-left-bottom-grid1">
                            <img src="{{sidebar.0.images.0.path}}" width="50" height="50" title="football" />
                            <h5><a href="/products/{{sidebar.0.productPublicID}}" style="font-size: 9px">{{sidebar.0.general.metaTagTitle}}</a></h5>
                            <span> {{sidebar.0.data.model}}</span>
                            <label>{{FormatCurrency sidebar.0.costs.sellingPrice locate rate}}</label>
                        </div>
                        <div class="content-left-bottom-grid1">
                            <img src="{{sidebar.1.images.0.path}}" title="jarse" width="50" height="50" title="football"  />
                            <h5><a style="font-size: 9px" href="/products/{{sidebar.1.productPublicID}}">{{sidebar.1.general.metaTagTitle}}</a></h5>
                            <span> {{sidebar.1.data.model}}</span>
                            <label>{{FormatCurrency sidebar.1.costs.sellingPrice locate rate}}</label>
                        </div>
                    </div>
                </div>
        </div>
        <div class="content-right">
            {{> ProductGridDisplay}}
        </div>
        <div class="clear"> </div>
    </div>
</div>