<div class="product-grids">
    <!--- start-rate---->
        <script src="js/jstarbox.js"></script>
        <link rel="stylesheet" href="css/jstarbox.css" type="text/css" media="screen" charset="utf-8" />
        <script type="text/javascript">
            jQuery(function() {
                jQuery('.starbox').each(function() {
                    var starbox = jQuery(this);
                    starbox.starbox({
                        average: starbox.attr('data-start-value'),
                        changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
                        ghosting: starbox.hasClass('ghosting'),
                        autoUpdateAverage: starbox.hasClass('autoupdate'),
                        buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
                        stars: starbox.attr('data-star-count') || 5
                    }).bind('starbox-value-changed', function(event, value) {
                        if(starbox.hasClass('random')) {
                            var val = Math.random();
                            starbox.next().text(' '+val);
                            return val;
                        } 
                    })
                });
            });
        </script>
        <!---//End-rate---->
        <!---caption-script---->
        <!---//caption-script---->
    {{#each contentProducts}}
        <div onclick="location.href='products/{{productPublicID}}';" class="product-grid fade">
            <div class="product-grid-head">
                <ul class="grid-social">
                    <li><a class="facebook" href="#"><span> </span></a></li>
                    <li><a class="twitter" href="#"><span> </span></a></li>
                    <li><a class="googlep" href="#"><span> </span></a></li>
                    <div class="clear"> </div>
                </ul>
                <div class="block">
                    <div class="starbox small ghosting"> </div> <span> (46)</span>
                </div>
            </div>
            <div class="product-pic">
                <a href="/products/{{productPublicID}}"><img src="{{images.0.path}}" title="product-name" /></a>
                <p>
                <a href="#"><small>{{general.metaTagTitle}}</small></a>
                <span>{{general.metaTagDescription}}</span>
                </p>
            </div>
            <div class="product-info">
                <div class="product-info-cust">
                    <a href="/products/{{productPublicID}}">{{FormatCurrency costs.sellingPrice @root.locate @root.rate}}</a>
                </div>
                <div class="product-info-price">
                    <a href="/products/{{productPublicID}}">{{@root.language.details}}</a>
                </div>
                <div class="clear"> </div>
            </div>
            <div class="more-product-info">
                <span> </span>
            </div>
        </div>
    {{/each}}
    <div class="clear"> </div>
</div>