<div class="top-header">
    <div class="wrap">
        <div class="top-header-left">
            <ul>
                <!---cart-tonggle-script---->
                <script type="text/javascript">
                    $(function(){
                        var $cart = $('#cart');
                            $('#clickme').click(function(e) {
                                e.stopPropagation();
                            if ($cart.is(":hidden")) {
                                $cart.slideDown("slow");
                            } else {
                                $cart.slideUp("slow");
                            }
                        });
                        $(document.body).click(function () {
                            if ($cart.not(":hidden")) {
                                $cart.slideUp("slow");
                            } 
                        });
                    });
                </script>
                <!---//cart-tonggle-script---->

                <!---locale-tonggle-script---->
                <script type="text/javascript">
                    $(function(){
                        var $locale = $('#locale');
                            $('#localechange').click(function(e) {
                                e.stopPropagation();
                            if ($locale.is(":hidden")) {
                                $locale.slideDown("slow");
                            } else {
                                $locale.slideUp("slow");
                            }
                        });
                        $(document.body).click(function () {
                            if ($locale.not(":hidden")) {
                                $locale.slideUp("slow");
                            } 
                        });
                        $(document.body).ready(function () {
                            $locale.hide(); 
                        });
                    });

                    function ChangeLocale(localeParam) {
                        $.ajax({
                            type: "GET",
                            url: "/changelocale",
                            data: {locale : localeParam },
                            async: false,
                            success: function(response) { 
                                if(response['statusCode'] === 200) {
                                    window.location.href = response['message']; 
                                }
                                else {
                                    alert(response['message']);
                                }
                            },
                        });
                    }

                </script>
                <!---//locale-tonggle-script---->

                <li><a class="cart" href="#"><span id="clickme"> </span></a></li>
                <!---start-cart-bag---->
                <div id="cart">
                    <a href="/cart">
                        {{#IfCond cartNItens '>' 0}}
                            <span id="mainCartMessage">{{language.cartNItens}}</span> 
                        {{/IfCond}}
                        {{#IfCond cartNItens '==' 0}}
                            <span id="mainCartMessage">{{language.emptyCart}}</span> 
                        {{/IfCond}}
                        <span id="mainCartCounter">({{cartNItens}})</span>
                    </a>
                </div>
                <!---start-cart-bag---->

                <li><a href="#"><span id="localechange"><img width="30" height="20" src="images/flags/{{locate}}.png" /></span></a></li>
                <div id="locale">
                    <a href="#" onclick="ChangeLocale('pt')"><span><img width="30" height="20" src="images/flags/pt.png" /></span></a>
                    <a href="#" onclick="ChangeLocale('en')"><span><img width="30" height="20" src="images/flags/en.png" /></span> </a>
                </div>
            </ul>
        </div>
        <div class="top-header-right">
            <ul>
                <li><a href="/login">{{language.login}}</a><span> </span></li>
                <li><a href="/join">{{language.join}}</a></li>
            </ul>
        </div>
        <div class="clear"> </div>
    </div>
</div>