<div class="top-header">
    <div class="wrap">
        <div class="top-header-left">
            <ul>
                <!---locale-tonggle-script---->
                <script type="text/javascript">
                    $(function(){
                        var $locale = $('#locale');
                            $('#localechange').click(function(e) {
                                e.stopPropagation();
                            if ($locale.is(":hidden")) {
                                $locale.slideDown("slow");
                            } else {
                                $locale.slideUp("slow");
                            }
                        });
                        $(document.body).click(function () {
                            if ($locale.not(":hidden")) {
                                $locale.slideUp("slow");
                            } 
                        });
                        $(document.body).ready(function () {
                            $locale.hide(); 
                        });
                    });

                    function ChangeLocale(localeParam) {
                        $.ajax({
                            type: "GET",
                            url: "/changelocale",
                            data: {locale : localeParam },
                            async: false,
                            success: function(response) { 
                                if(response['statusCode'] === 200) {
                                    window.location.href = response['message']; 
                                }
                                else {
                                    alert(response['message']);
                                }
                            },
                        });
                    }

                </script>
                <!---//locale-tonggle-script---->

                <li><a href="#"><span id="localechange"><img width="30" height="20" src="images/flags/{{locate}}.png" /></span></a></li>
                <div id="locale">
                    <a href="#" onclick="ChangeLocale('pt')"><span><img width="30" height="20" src="images/flags/pt.png" /></span></a>
                    <a href="#" onclick="ChangeLocale('en')"><span><img width="30" height="20" src="images/flags/en.png" /></span> </a>
                </div>
            </ul>
        </div>
        <div class="top-header-right">
            <span>Nike Soccer</span>
        </div>
        <div class="clear"> </div>
    </div>
</div>