.noSelectedColor {
    border:1.3px solid; 
    text-align: center;
    cursor:pointer;
}

.selectedColor {
    border: 0.5px inset;
    text-align: center;
    cursor:pointer;
}

.cartQuantityText {
    width: 30px;
    height: 40px;
    font-size: 16px;
    text-align: center;
}

/** 
    cart styling/
**/

.tableItem {
    width: 100%; 
    border:1px solid black; 
    border-collapse:separate; 
    border-spacing:1em;
}

.tableItemImage {
    width: 10%;
}

.tableItemDetails {
    width: 40%; 
    vertical-align:top
}

.tableItemQuantityArea {
    width: 25%; 
    text-align: center; 
    vertical-align:top;
}

.tableItemQuantityAreaNumber {
    display: inline-block; 
    vertical-align: top; 
    margin-top: 7%
}

.tableItemQuantityAreaButtonsArea {
    display: inline-block; 
    background: black; 
    width: 10%; 
    text-align: center; 
    padding: 2%;
}

.tableItemQuantityAreaButtonsAreaPlus {
    cursor:pointer; 
    display: block; 
    margin-bottom: 10%; 
    background: white
}

.tableItemQuantityAreaButtonsAreaMinus {
    cursor:pointer; 
    display: block; 
    background: white;
}

.tableItemRemove {
    width: 25%; 
    text-align: center; 
    text-align: center; 
    vertical-align:top
}

.cartCostsArea {
    height: 20%;
    width: 30%;
    float: right;
    margin-right: 2%;
    padding: 2%;
}

.checkoutButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}