<div class="content">
    <div class="wrap">
        {{#IfCond cartNItens '>' 0}}
            <ul style="margin-bottom: 2%" id="cartUIItens">
                {{#each cart}}
                    <li style="margin: 2%">
                        <table class="tableItem">
                            <tr>
                                <td class="tableItemImage">
                                    <img src="{{picture}}" width="80px" height="80px"/>
                                </td>
                                <td class="tableItemDetails">
                                    <p><a><span style="background:{{attributes.color.value}}; width:32px; height:32px; display:inline-block; border: 1px solid"></span></a></p>
                                    <span style="font-weight: bold"><b>{{prodName}}</b></span>
                                    <p><span style="font-weight: bold">{{attributes.size.value}}</span></p>
                                    <p><span style="font-weight: bold">{{FormatCurrency prodPrice @root.locate @root.rate}} </span></p>
                                </td>
                                <td class="tableItemQuantityArea">
                                    <div class="tableItemQuantityAreaNumber">
                                        <span style="font-size: 16px; font-weight: bold">{{quantity}}</span>
                                    </div>
                                    <div class="tableItemQuantityAreaButtonsArea">
                                        <a onclick="IncreaseQuantity('{{productPublicID}}')" class="tableItemQuantityAreaButtonsAreaPlus"><i style="font-size: 10px;" class="fa fa-plus" aria-hidden="true"></i></a>
                                        <a onclick="DecreaseQuantity('{{productPublicID}}')" class="tableItemQuantityAreaButtonsAreaMinus"><i style="font-size: 10px;" class="fa fa-minus" aria-hidden="true"></i></a>  
                                    </div>
                                    
                                </td>
                                <td class="tableItemRemove">
                                    <a onclick="RemoveFromCart('{{productPublicID}}')"><i class="fa fa-trash fa-3x" style="cursor:pointer;"></i></a>
                                </td>
                            </tr>
                        </table>
                    </li>
                {{/each}}
            </ul>
            <div class="cartCostsArea">
                <table style="width: 100%; border: 1px solid; border-collapse:separate; border-spacing:1em;">
                    <tr style="padding: 2%">
                        <td style="width: 40%">
                            <span style="font-weight: bold">{{language.subTotal}}</span>
                        </td>
                        <td style="width: 60%; text-align: right" >
                            {{FormatCurrency cartTotal @root.locate @root.rate}}
                        </td>
                    </tr>

                    <tr style="padding: 2%">
                        <td style="width: 40%">
                            <span style="font-weight: bold">{{language.tax}}</span>
                        </td>
                        <td style="width: 60%; text-align: right" >
                            {{FormatCurrency 0 @root.locate @root.rate}}
                        </td>
                    </tr>
                </table>
                <a style="float: right; margin-top: 7%; cursor: pointer" onclick="EnableCheckout()" class="checkoutButton">{{language.ckeckout}}</a>
            </div>
        {{/IfCond}}
        {{#IfCond cartNItens '==' 0}}
            <span id="mainCartMessage">{{language.emptyCartMessage}}</span> 
        {{/IfCond}}
    </div>
</div>