
<div class="content login-box">
    <div class="login-main">
        <div class="wrap">
            <h1>{{language.checkouTitle}}</h1>
            <div class="login-left">
                <h3>{{language.continueAsGuessTitle}}</h3>
                <p>{{language.checkoutGuestDescription}}</p>
                <a class="checkoutButton" href="/asguess">{{language.checkoutGuestContinueButton}}</a>
            </div>
            <div class="login-right">
                <h3>{{language.registeredcustomertitle}}</h3>
                <p>{{language.registeredcustomerdescription}}</p>
                <form>
                    <div>
                        <span>Email<label>*</label></span>
                        <input id="checkoutLoginEmail" type="text"> 
                    </div>
                    <div>
                        <span>{{language.password}}<label>*</label></span>
                        <input id="checkoutLoginPassword" type="password"> 
                    </div>
                    <a class="forgot" href="#">{{language.forgotpassword}}</a>
                    <input type="button" class="checkoutButton" id="btnCheckoutLogin" value="{{language.login}}" />
                </form>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('body').on('click', '#btnCheckoutLogin', function(){
        $.ajax({
            type: "POST",
            url: "/ckeckout/asclient",
            data: { email: $("#checkoutLoginEmail").val(), password: $("#checkoutLoginPassword").val()},
            async: false,
            success: function(response) { 
                if(response['statusCode'] === 200) {
                    window.location.href = response['message'];   
                }
                else {
                    alert(response['message'])
                }
            },
        });
    })
</script>