
<div class="content login-box">
    <div class="login-main">
        <div class="wrap">
            <table style="width: 100%; border-spacing: 40px; border-collapse: separate;">
                <tr>
                    <td tyle="width: 50%; ">
                        <h2 style="margin-bottom: 3%; font-weight: bold; font-size: 20px">{{language.personalInfo}}</h2>
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 30%" >
                                    {{language.name}}
                                </td>
                                <td>
                                    <input type="text" value="{{clientname}}" id="customerName"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 30%">
                                    {{language.email}}
                                </td>
                                <td>
                                    <input type="text" value="{{clientemail}}" id="customerEmail"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 30%">
                                    {{language.phone}}
                                </td>
                                <td>
                                    <input type="text" id="customerPhone"/>
                                </td>
                            </tr>
                        </table>

                        <h3 style="margin-bottom: 3%; font-weight: bold; margin-top: 3%; font-size: 20px">{{language.address}}</h3>
                        <table style="width: 100%">
                            <tr>
                                <td style="width: 30%">
                                    {{language.street}}
                                </td>
                                <td>
                                    <input type="text" value="{{clientaddress.street}}" id="addressStreet"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 30%">
                                    {{language.city}}
                                </td>
                                <td>
                                    <input type="text" value="{{clientaddress.city}}" id="addressCity"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 30%">
                                    {{language.country}}
                                </td>
                                <td>
                                    <input type="text" value="{{clientaddress.country}}" id="addressCountry"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="width: 50%">
                        <h2 style="margin-bottom: 3%; font-weight: bold; font-size: 20px">{{language.products}}</h2>
                        <table style="width: 100%; margin-bottom: 6%">
                        {{#each cart}}
                            <tr style="margin-top: 10%">
                                <td style="width: 60%">
                                    <span style="margin-right: 16%"><b>{{prodName}} ({{attributes.size.value}})</b></span>
                                </td>
                                <td style="width: 30%; text-align: right">           
                                    <span>{{FormatCurrency prodPrice @root.locate @root.rate}}</span>
                                </td>
                            </tr>
                        {{/each}}
                        </table>
                        <table style="width: 100%; border: 1px solid; border-collapse:separate; border-spacing:1em;">
                            <tr style="padding: 2%">
                                <td style="width: 40%">
                                    <span style="font-weight: bold">{{language.subTotal}}</span>
                                </td>
                                <td style="width: 60%; text-align: right" >
                                    {{FormatCurrency cartTotal @root.locate @root.rate}} 
                                </td>
                            </tr>
        
                            <tr style="padding: 2%">
                                <td style="width: 40%">
                                    <span style="font-weight: bold">{{language.tax}}</span>
                                </td>
                                <td style="width: 60%; text-align: right" >
                                    {{FormatCurrency 0 @root.locate @root.rate}}
                                </td>
                            </tr>
        
                            <tr style="padding: 2%">
                                <td style="width: 40%">
                                    <span style="font-weight: bold">{{language.discount}}</span>
                                </td>
                                <td style="width: 60%; text-align: right" >
                                    0%
                                </td>
                            </tr>
                        </table>

                        <table style="width: 100%; margin-top: 6%">
                            <tr>
                                <td>
                                    <h2 style="margin-bottom: 3%; font-weight: bold; font-size: 20px">{{language.delivery}}</h2>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </div>
        <div style="width: 50%; margin: 0 auto">
            <h2 style="margin-top: 3%; font-weight: bold; font-size: 20px; text-align: center">{{language.payment}}</h2>
            <div style="text-align: center"> 
                <p>
                    {{language.paymentdescription}}
                </p>
                <table style="width: 50%; border-spacing: 40px; border-collapse: separate; margin: 0 auto">
                    <tr >
                        <td>
                            <img src="images/ekumbu.png" onclick="ChoosePaymentType('ekumbu')"/>
                        </td>
                        <td>
                            <img src="images/visa-mastercard.png" onclick="ChoosePaymentType('visa')"/>
                        </td>
                    </tr>
                </table>
                <div id="paymentContent">

                </div>
            </div>
        </div>
    </div>
</div>
