<!-- Owl Carousel Assets -->
<link href="css/owl.carousel.css" rel="stylesheet">
        <!-- Owl Carousel Assets -->
    <!-- Prettify -->
<script src="js/owl.carousel.js"></script>
<script>
    $(document).ready(function() {

        $("#owl-demo").owlCarousel({
        items : 3,
        lazyLoad : true,
        autoPlay : true,
        navigation : true,
        navigationText : ["",""],
        rewindNav : false,
        scrollPerPage : false,
        pagination : false,
        paginationNumbers: false,
        });

    });
</script>
<!-- //Owl Carousel Assets -->

<!--- start-content---->
<div class="content details-page">
    <!---start-product-details--->
    <div class="product-details">
        <div class="wrap">
            <ul class="product-head">
                <div class="clear"> </div>
            </ul>
        <!----details-product-slider--->
        <!-- Include the Etalage files -->
            <link rel="stylesheet" href="css/etalage.css">
            <script src="js/jquery.etalage.min.js"></script>
        <!-- Include the Etalage files -->
        <script>
                jQuery(document).ready(function($){
    
                    $('#etalage').etalage({
                        thumb_image_width: 300,
                        thumb_image_height: 400,
                        source_image_width: 900,
                        source_image_height: 1000,
                        show_hint: true,
                        click_callback: function(image_anchor, instance_id){
                            alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
                        }
                    });
                    // This is for the dropdown list example:
                    $('.dropdownlist').change(function(){
                        etalage_show( $(this).find('option:selected').attr('class') );
                    });

            });
        </script>
        <!----//details-product-slider--->
        <div class="details-left">
            <div class="details-left-slider">
                <ul id="etalage">
                    {{#each product.images}}
                        <li>               
                            <img class="etalage_thumb_image" src="{{path}}" />
                            <img class="etalage_source_image" src="{{path}}" />
                        </li>
                    {{/each}}
                </ul>
            </div>
            <div class="details-left-info">
                <div class="details-right-head">
                <h1>{{product.general.metaTagTitle}}</h1>
                <ul class="pro-rate">
                    <li><a class="product-rate" href="#"> <label> </label></a> <span> </span></li>
                    <li><a href="#">0 Review(s) Add Review</a></li>
                </ul>
                <p class="product-detail-info">{{product.general.description}}</p>
                <a class="learn-more"><h3>{{language.price}}</h3></a>
                <div class="product-more-details">
                    <ul class="price-avl">
                        <li class="price"><label>{{FormatCurrency product.sellingPrice locate rate}}</label></li>
                        <li class="stock"><i>{{language.instock}}</i></li>
                        <div class="clear"> </div>
                    </ul>
                    <ul class="product-colors" id="productUlColors">
                        <h3>{{language.availablecolors}} </h3>
                        {{#each colors}}
                             <li onclick="ProductSelectColor('{{colorID}}', this, '{{colorValue}}')" id="{{colorID}}" class="noSelectedColor"><a><span style="background:{{colorValue}};"> </span></a></li>
                        {{/each}}
                        <div class="clear"> </div>
                    </ul>
                    <ul class="product-colors" id="productsUlSizes">
                        <h3>{{language.availablesizes}} </h3>
                        {{#each sizes}}
                             <li onclick="ProductSelectSize('{{sizeID}}', '{{sizeValue}}')" id="{{sizeID}}" class="noSelectedColor"><a><span>{{sizeValue}}</span></a></li>
                        {{/each}}
                        <div class="clear"> </div>
                    </ul>
                    <ul class="prosuct-qty">
                        <span>{{language.quantity}}:</span>
                        <select id="dllProductQuantity">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </ul>
                    <input type="button" id="btnAddToCart" value="{{language.addtocart}}" />
                </div>
            </div>
            </div>
            <div class="clear"> </div>
        </div>
        <div class="details-right">
            <a href="#">SEE MORE</a>
        </div>
        <div class="clear"> </div>
    </div>
    <!----product-rewies---->
    <div class="product-reviwes">
        <div class="wrap">
        <!--vertical Tabs-script-->
        <!---responsive-tabs---->
            <script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                        $('#horizontalTab').easyResponsiveTabs({
                            type: 'default', //Types: default, vertical, accordion           
                            width: 'auto', //auto or any width like 600px
                            fit: true,   // 100% fit in a container
                            closed: 'accordion', // Start closed if in accordion view
                            activate: function(event) { // Callback function if tab is switched
                            var $tab = $(this);
                            var $info = $('#tabInfo');
                            var $name = $('span', $info);
                                $name.text($tab.text());
                                $info.show();
                            }
                        });
                                            
                        $('#verticalTab').easyResponsiveTabs({
                            type: 'vertical',
                            width: 'auto',
                            fit: true
                            });
                    });
            </script>
        <!---//responsive-tabs---->
        <!--//vertical Tabs-script-->
        <!--vertical Tabs-->
        <div id="verticalTab">
            <ul class="resp-tabs-list">
                <li>Description</li>
                <li>Product tags</li>
                <li>Product reviews</li>
            </ul>
            <div class="resp-tabs-container vertical-tabs">
                <div>
                    <h3> Details</h3>
                    <p>{{product.general.description}}</p>
                </div>
                <div>
                    <h3>Product Tags</h3>
                    <h4>Add Your Tags:</h4>
                    <form>
                        <input type="text"> <input type="submit" value="ADD TAGS"/>
                        <span>Use spaces to separate tags. Use single quotes (') for phrases.</span>
                    </form>
                </div>
                <div>
                    <h3>Customer Reviews</h3>
                    <p>There are no customer reviews yet.</p>
                </div>
            </div>
    </div>
    <div class="clear"> </div>
    <!--- start-similar-products--->
    <div class="similar-products">
        <div class="similar-products-left">
            <h3>SIMILAR PRODUCTS</h3>
            <p>{{product.general.description}}</p>
        </div>
        <div class="similar-products-right">
            <!-- start content_slider -->
            <!--- start-rate---->
                    <script src="js/jstarbox.js"></script>
                    <link rel="stylesheet" href="css/jstarbox.css" type="text/css" media="screen" charset="utf-8" />
                    <script type="text/javascript">
                        jQuery(function() {
                            jQuery('.starbox').each(function() {
                                var starbox = jQuery(this);
                                starbox.starbox({
                                    average: starbox.attr('data-start-value'),
                                    changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
                                    ghosting: starbox.hasClass('ghosting'),
                                    autoUpdateAverage: starbox.hasClass('autoupdate'),
                                    buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
                                    stars: starbox.attr('data-star-count') || 5
                                }).bind('starbox-value-changed', function(event, value) {
                                    if(starbox.hasClass('random')) {
                                        var val = Math.random();
                                        starbox.next().text(' '+val);
                                        return val;
                                    } 
                                })
                            });
                        });
                    </script>
                    <!---//End-rate---->
                    <div style="width: 60%; padding: 4%">
                        <h3>Product Review</h3>
                        <p></p>
                        <form id="frmAddProductReview">
                            <fieldset class="rating">
                                <input type="radio" onclick="SetProductReviewRate(5)" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                <input type="radio" onclick="SetProductReviewRate(4.5)" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                <input type="radio" onclick="SetProductReviewRate(4)" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                <input type="radio" onclick="SetProductReviewRate(3.5)" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                <input type="radio" onclick="SetProductReviewRate(3)" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                                <input type="radio" onclick="SetProductReviewRate(2.5)" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                <input type="radio" onclick="SetProductReviewRate(2)" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                <input type="radio" onclick="SetProductReviewRate(1.5)" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                <input type="radio" onclick="SetProductReviewRate(1)" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                                <input type="radio" onclick="SetProductReviewRate(0.5)" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                            </fieldset>
                            <input type="text" id="txtReviewName" placeholder="Name"/>
                            <input type="text" id="txtReviewEmail" placeholder="Email"/>
                            <input type="text" id="txtReviewMessage" placeholder="Mensagem"/>
                            <input type="button" class="checkoutButton" id="btnAddProductReview" value="{{language.send}}" />
                        </form>
                        <script type="text/javascript">
                            $('body').on('click', '#btnAddProductReview', function(){
                                
                                if(productReviewRate === -1) {
                                    alert("{{language.raterequired}}")
                                    return;
                                }
                                
                                $.ajax({
                                    type: "PATCH",
                                    url: "addreview",
                                    data: { rate: productReviewRate, email: $("#txtReviewEmail").val(), name: $("#txtReviewName").val(), comment: $("#txtReviewMessage").val() },
                                    async: false,
                                    success: function(response) { 
                                        if(response['statusCode'] === 200) {
                                            window.location.href = response['message'];  
                                        }
                                        else {
                                            alert(response['message'])
                                        }
                                    },
                                });
                            })
                        </script>
                    </div>
                    
                    <div id="owl-demo" class="owl-carousel">
                        {{#each otherproducts}}
                            <div class="item" onclick="location.href='details.html';">
                                <div class="product-grid fade sproduct-grid">
                                    <div class="product-pic">
                                        <a href="/products/{{productPublicID}}"><img src="{{images.0.path}}" title="product-name" /></a>
                                        <p>
                                        <a href="/products/{{productPublicID}}"><small>{{general.metaTagTitle}}</small></a>
                                        <span>{{data.model}}</span>
                                        </p>
                                    </div>
                                    <div class="product-info">
                                        <div class="product-info-cust">
                                            <a href="#">{{FormatCurrency costs.sellingPrice @root.locate @root.rate}}</a>
                                        </div>
                                        <div class="product-info-price">
                                            <a href="/products/{{productPublicID}}">{{@root.language.details}}</a>
                                        </div>
                                        <div class="clear"> </div>
                                    </div>
                                    <div class="more-product-info">
                                        <span> </span>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
        <!----//End-img-cursual---->
        </div>
        <div class="clear"> </div>
    </div>
    <!--- //End-similar-products--->
    </div>
    </div>
    <div class="clear"> </div>
    <!--//vertical Tabs-->
    <!----//product-rewies---->
    <!---//End-product-details--->
    </div>
</div>