<script type='text/javascript'>//<![CDATA[ 
    $(window).load(function(){
        $( "#slider-range" ).slider({
                range: true,
                min: 0,
                max: 500,
                values: [ 100, 400 ],
                slide: function( event, ui ) {  $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
                }
        });
    $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) + " - $" + $( "#slider-range" ).slider( "values", 1 ) );
    
    });//]]>  
</script>

{{> MainSlider}}
<!----start-price-rage--->
<div class="wrap">
    <div class="price-rage">
        <h3></h3>
        <div id="slider-range">
        </div>
    </div>
</div>
<!----//End-price-rage-->
{{> MainContent}}