<div class="content login-box">
    <div class="login-main">
        <div class="wrap">
            <h1>CREATE AN ACCOUNT</h1>
            <div class="register-grids">
                <form> 
                        <div class="register-top-grid">
                                <h3>PERSONAL INFORMATION</h3>
                                <div>
                                    <span>First Name<label>*</label></span>
                                    <input id="txtJoinFirstName" type="text"> 
                                </div>
                                <div>
                                    <span>Last Name<label>*</label></span>
                                    <input id="txtJoinLastName" type="text"> 
                                </div>
                                <div>
                                    <span>Email Address<label>*</label></span>
                                    <input id="txtJoinEmail" type="text"> 
                                </div>
                                <div>
                                    <span>Password<label>*</label></span>
                                    <input id="txtJoinPassword" type="password">
                                </div>
                                <div class="clear"> </div>
                        </div>
                        <div class="clear"> </div>
                        <div class="clear"> </div>
                        <input type="button" class="checkoutButton" id="btnJoinSend" value="Submit" />
                </form>
            </div>
        </div>
    </div>
</div>