<!--- start-content---->
<div class="content product-box-main">
    <div class="wrap">
        <div class="content-left">
                <div class="content-left-top-grid">
                    <div class="content-left-price-selection content-left-top-brands-prices">
                        <h5>{{language.selectprice}}</h5>
                        <div class="price-selection-tree">
                            <span class="col_checkbox">
                                <input id="10" class="css-checkbox10" type="checkbox">
                                <label class="normal"><i for="10" name="demo_lbl_10"  class="css-label10"> </i> 400</label>
                            </span>
                            <span class="col_checkbox">
                                <input id="11" class="css-checkbox11" type="checkbox">
                                <label class="active1"><i for="11" name="demo_lbl_11"  class="css-label11"> </i>350</label>
                            </span>
                            <span class="col_checkbox">
                                <input id="12" class="css-checkbox12" type="checkbox">
                                <label class="normal"><i for="12" name="demo_lbl_12"  class="css-label12"> </i> 300</label>
                            </span>
                            <span class="col_checkbox">
                                <input id="13" class="css-checkbox13" type="checkbox">
                                <label class="normal"><i for="13" name="demo_lbl_13"  class="css-label13"> </i>250</label>
                            </span>
                            <span class="col_checkbox">
                                <input id="14" class="css-checkbox14" type="checkbox">
                                <label class="normal"><i for="14" name="demo_lbl_14"  class="css-label14"> </i> 200</label>
                            </span>
                            <span class="col_checkbox">
                                <input id="15" class="css-checkbox15" type="checkbox">
                                <label class="normal"><i for="15" name="demo_lbl_15"  class="css-label15"> </i>150</label>
                            </span>
                        </div>
                        
                </div>
                </div>
        </div>
        <div class="content-right product-box">
            <div class="product-box-head">
                    <div class="product-box-head-left">
                        <h3>{{language.products}} <span>({{nrecords}})</span></h3>
                    </div>
                    <div class="product-box-head-right">
                        <ul>
                            <li><span>{{language.sort}} ::</span><a href="#"> </a></li>
                            <li><label> </label> <a href="#"> {{language.popular}}</a></li>
                            <li><label> </label> <a href="#"> {{language.new}}</a></li>
                            <li><label> </label> <a href="#"> {{language.discount}}</a></li>
                            <li><span>{{language.price}} ::</span><a href="#">{{language.low}} {{language.high}}</a></li>
                        </ul>
                    </div>
                    <div class="clear"> </div>
            </div>
            {{> ProductGridDisplay}}
            <!----start-load-more-products---->
            <div class="loadmore-products">
                <a id="btnLoadMore">{{language.laodmore}}</a>
            </div>
            <!----//End-load-more-products---->
        </div>
        <div class="clear"> </div>
    </div>
</div>