<div class="content">
    <div class="wrap">
        <h3>Profile</h3>

        <div>
            <p>Addresses</p>

            {{#IfCond naddresses '==' 0}}
                <span>Não existe nenhum endereço registrado.</span>
                <button id="cmdShowAddress">Add</button>
            {{/IfCond}}

            {{#IfCond naddresses '>' 0}}
                {{#each addresses}}
                    <p><span>{{street}}</span></p>
                    <p><span>{{city}}, {{country}}</span></p>
                {{/each}}
            {{/IfCond}}

            <form style="visibility: hidden; margin-top: 4%" id="frmNewAddress">
                <p>New Address</p>
                <table>
                    <tr>
                        <td>
                            Street
                        </td>
                        <td>
                            <input id='txtStreet' type="text"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            City
                        </td>
                        <td>
                            <input id='txtCity' type="text"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Country
                        </td>
                        <td>
                            <input id='txtCountry' type="text"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="button" class="checkoutButton" id="cmdAddNewAddress" value="Add" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>